.form_container {
  max-width: 700px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: orange;
}

.wish-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  // background-color: orange;
  background:linear-gradient(white, rgba(0, 0, 0, 0), white 30%), url("../assets/dreamcatcher.jpg");
  background-position:center;
  background-size:cover;
  label {
    margin: 10px 0px;
  }
  textarea {
    /* resize: none; */
    height: 80px;
  }
}

.wish-input {
  height: 30px;
  width: 50vw;
  min-width: 240px;
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
}

.wish-submit {
  margin-top: 20px;
}

.radiobutton-container {
  display: flex;
  align-items: center;
}

.keywordsdata-container {
  display: flex;
  // width: 50vw;
  background-color: orange;
}

.form-container-wish {
  // background-color: orange;
  height: 100vh;
   background:linear-gradient( rgba(255,255,255,1) 60%, rgba(0,0,0,0) 90%), url("../assets/pencils.jpg");
  background-position:center;
  background-size:cover;
}

.form-container-wish-edit {
  // background-color: orange;
  height: 100vh;
   background:linear-gradient( rgba(255,255,255,1) 65%, rgba(0,0,0,0) 90%), url("../assets/pencils.jpg");
  background-position:center;
  background-size:cover;
}