.userinfo-container {
  // background-color: orange;
  .userinfo{
    display: flex;
    align-items: center;
    p {
      margin: 0 5px 0 30px;
    }
    .Username {
      font-size:1.3em;
      font-weight: bold;
    }
    .userinfo-text {
      color: gray;
    }

    .profilepic {
      width: 50px;
      height: 50px;
      margin: 0 10px 0 40px;
    }
  }
}
// .wishes-box {
  // display:flex;
  // margin-top: 30px;
  // .left{
  //   // background-color: palegreen;

  // }
  // .right{
  //   // background-color: pink;

  // }
// }

@media (min-width:800px){
  .wishes-box {
    display:flex;
    margin-top: 30px;
  }
  .left{
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid gray;
  }
  .right {
    width:50%;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width:500px)and(max-width:800px){
  .wishes-box {
    // display:flex;
    margin-top: 30px;
  }
  .left{
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
  .right {
    border-top: 1px solid gray;
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
  }
}


.card-like-wrapper {
  p{
    margin: 0 10px 0 5px;
  }
}

.protectedButtons {
  button {
    height: 32px;
    padding: 8px;
    margin: 5px;
    background-color: white;
    border: 0.5px solid black;
    border-radius: 5px;
  }
  button:hover {
    background-color: rgb(200,200,200);
  }
  button:active{
    background-color: white;
  }
}