.Home-container {
  display: flex;
}

#Home-image {
  width: 43vw;
}

.text-container {
  padding: 20px 50px 0 50px;

  p {
  padding: 0 100px 0 5px;
  }

  .home-text {
  font-size: 4.3em;

  span {
  color: gray;
  }
  }
}

.button-container {
  display: flex;
  flex-direction:column;
  align-items: center;
  margin-right: 30px;
  margin-top: 80px;
  button:hover {
    background-color: rgb(200,200,200);
  }
  button:active{
    background-color: white;
  }
  // background-color: orange;
}

.link-login,.link-sign-up {
  margin-top: 15px;
}

.button-login,.button-sign-up {
  width: 250px;
  height: 35px;
  background-color: white;
  font-size: 1.1em;
}

.button-sign-up:hover {
  cursor: pointer;
}

.button-login:hover {
  cursor: pointer;
}

.link-about {
  margin-top: 15px;
}

.image-wrapper::before {
  position: absolute;
  content: '';
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  width: 43vw;
  height: 100%;
  background: #fff;
  transform-origin: 100% 50%;
  animation: revealRight 1s cubic-bezier(0.23, 1, 0.75, 1) forwards;
}

@keyframes revealRight {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

.text-wrapper {
  animation: fadeInLeft 0.95s 0.4s ease forwards;
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(20%);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
} 