.form-container {
  width:56vw;
  // background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  
  .login-h1 {
      font-size:3.5em;
      span{
        color:gray;
      }
    }

  .loginform {
    display: flex;
    flex-direction:column;
    // background-color: gray;
    height: 250px;
    justify-content: space-evenly;
    align-items: center;
    .form-input {
      width: 300px;
      height: 30px;
      font-size: 1.2em;
    }

    #login-button {
      // width: 60px;
      height: 30px;
      font-size:1.1em;
      background-color: white;
      font-size: 1.1em;
    }
    #login-button:hover {
      cursor: pointer;
      background-color: rgb(200,200,200);
    }
    #login-button:active {
      background-color: white;
    }
  }
}

.signup-form-container {
  width:56vw;
  // background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
    .signupform {
    display: flex;
    flex-direction:column;
    // background-color: gray;
    height: 450px;
    justify-content: space-evenly;
    align-items: center;
      .form-input {
      width: 300px;
      height: 30px;
      font-size: 1.2em;
      }
    }
    #submit-button {
      // width: 60px;
      height: 30px;
      font-size:1.1em;
      background-color: white;
      font-size: 1.1em;
    }
    #submit-button:hover {
      cursor: pointer;
      background-color: rgb(200,200,200);
    }
    #submit-button:active {
      background-color: white;
    }
}