nav {
  padding: 20px;
  height: 55px;
  text-align: right;
  display:flex;
  // border: 1px solid black;

  .nav-title-wrapper{
    h1 {
      color:gray;
    }
  }
  .nav-spaceholder {
    flex-grow:1;
  }

  .nav-links {
    display: flex;
    align-items: center;
  }
}

nav a {
  text-decoration: none;
  color: rgb(80, 80, 80);
  margin: 0px 10px;
}

nav a:hover {
  color: gray;
}