.wish-view {
  display: flex;
  // background-color: palegoldenrod;
  height: 100vh;
  width: 100vw;
  .wish-container {
    // background-color: orange;
    padding: 15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .name-container {
      display: flex;
      width: 90%;
      align-items: center;
      p {
        font-weight: bold;
        font-size: 1.25em;
      }
      .name-button-span {
        flex-grow: 1;
      }
    }
    .wish-image-container{
      width:70%;
      height:30vw;
      // background-image: url(../assets/undraw_wishes_icyp.png);
      // background-color: red;
      background-position: center;
      background-size: cover;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    .wish-bottom-container {
      width: 80%
    }
  }
  .comment-container {
    // background-color: palegreen;
    width: 50%;
    padding: 15px;
    background:linear-gradient( rgba(255,255,255,1) 22%, rgba(225,225,225,0.25) 90%), url("../assets/dreamcatcher.jpg");
    background-position:center;
    background-size:cover;
  }
}