.title {
  text-align: center;
  font-size: 1.4em;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
  justify-content: space-evenly;
  max-width: 100%;
  margin-bottom: 50px;
  // background-color: tomato;
}

// format cards with similar style
.card-wrapper{
	width: 380px;
  height:350px;
  background-color:white;
  display: flex;
  border-color: darkgray;
  border-style: solid;
  border-width: thin;
  margin: 10px;
  // background-color: green;  
}

// .card-wrapper:hover {
//   box-shadow: 0 12px 20px 0 rgba(0,0,0,0.2);
//   -webkit-transform: scale(1.02);
//   transform: scale(1.01) translateY(-2px);
// }

.card {
  font-family: Arial, Helvetica, sans-serif;
  // background-color: blue; 
  width: 100%; 
  .flip-card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    .card-keywords{
      font-size: 1.2em;
    }
    .card-image {
      width:90%;
      height: 300px;
      // background-color: orange;
      overflow: hidden;
      display:flex;
      justify-content: center;
      align-items: center;
      background:linear-gradient(white, rgba(0, 0, 0, 0), white 90%), url("../assets/undraw_wishes_icyp.png");
      background-position: center;
      background-size: cover;
      // background-color: pink;
      #card-pic {
        width: 100%;
      }
    }
  }
  .flip-card-back {
    .card-text {
      height:80%;
      border: 1px solid #ffffff;
      // background-color: red;
      p,h3 {
        margin: 20px 40px 10px 40px;
      }
    }
    .card-like-wrapper {
      background-color: white;
      // border-bottom: 1px solid #ffffff;
      height:19%;
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        margin-left: 10px;
      }
    }
  }
}

.flip-card {
  background-color: transparent;
  border: 1px solid #ffffff;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: white;
  border: 1px solid #999999;
  color: black;
}

/* Style the back side */
.flip-card-back {
  // background-color: whitesmoke;
  background:linear-gradient( rgba(255,255,255,1) 45%, rgba(225,225,225,0.25) ), url("../assets/pencils.jpg");
  background-position:center;
  background-size:cover;
  // color: white;
  border: 1px solid #999999;
  transform: rotateY(180deg);
}
